<a href="https://colab.research.google.com/github/Aashrit77/Prject1/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/Bookings.csv")

In [ ]:
df.head(50)

           hotel  is_canceled  ...  reservation_status  reservation_status_date
0   Resort Hotel            0  ...           Check-Out               2015-07-01
1   Resort Hotel            0  ...           Check-Out               2015-07-01
2   Resort Hotel            0  ...           Check-Out               2015-07-02
3   Resort Hotel            0  ...           Check-Out               2015-07-02
4   Resort Hotel            0  ...           Check-Out               2015-07-03
5   Resort Hotel            0  ...           Check-Out               2015-07-03
6   Resort Hotel            0  ...           Check-Out               2015-07-03
7   Resort Hotel            0  ...           Check-Out               2015-07-03
8   Resort Hotel            1  ...            Canceled               2015-05-06
9   Resort Hotel            1  ...            Canceled               2015-04-22
10  Resort Hotel            1  ...            Canceled               2015-06-23
11  Resort Hotel            0  ...           Check-Out               2015-07-05
12  Resort Hotel            0  ...           Check-Out               2015-07-05
13  Resort Hotel            0  ...           Check-Out               2015-07-05
14  Resort Hotel            0  ...           Check-Out               2015-07-05
15  Resort Hotel            0  ...           Check-Out               2015-07-05
16  Resort Hotel            0  ...           Check-Out               2015-07-05
17  Resort Hotel            0  ...           Check-Out               2015-07-02
18  Resort Hotel            0  ...           Check-Out               2015-07-02
19  Resort Hotel            0  ...           Check-Out               2015-07-05
20  Resort Hotel            0  ...           Check-Out               2015-07-06
21  Resort Hotel            0  ...           Check-Out               2015-07-07
22  Resort Hotel            0  ...           Check-Out               2015-07-07
23  Resort Hotel            0  ...           Check-Out               2015-07-07
24  Resort Hotel            0  ...           Check-Out               2015-07-01
25  Resort Hotel            0  ...           Check-Out               2015-07-08
26  Resort Hotel            0  ...           Check-Out               2015-07-08
27  Resort Hotel            1  ...            Canceled               2015-05-11
28  Resort Hotel            0  ...           Check-Out               2015-07-08
29  Resort Hotel            0  ...           Check-Out               2015-07-08
30  Resort Hotel            0  ...           Check-Out               2015-07-15
31  Resort Hotel            0  ...           Check-Out               2015-07-16
32  Resort Hotel            1  ...            Canceled               2015-05-29
33  Resort Hotel            0  ...           Check-Out               2015-07-08
34  Resort Hotel            1  ...            Canceled               2015-05-19
35  Resort Hotel            1  ...            Canceled               2015-06-19
36  Resort Hotel            0  ...           Check-Out               2015-07-06
37  Resort Hotel            0  ...           Check-Out               2015-07-06
38  Resort Hotel            1  ...            Canceled               2015-05-23
39  Resort Hotel            0  ...           Check-Out               2015-07-07
40  Resort Hotel            1  ...            Canceled               2015-05-18
41  Resort Hotel            0  ...           Check-Out               2015-07-07
42  Resort Hotel            0  ...           Check-Out               2015-07-07
43  Resort Hotel            0  ...           Check-Out               2015-07-07
44  Resort Hotel            0  ...           Check-Out               2015-07-09
45  Resort Hotel            1  ...            Canceled               2015-06-02
46  Resort Hotel            0  ...           Check-Out               2015-07-09
47  Resort Hotel            0  ...           Check-Out               2015-07-09
48  Resort Hotel            0  ...           Check-Out               2015-07-09
49  Resort Hotel            0  ...           Check-Out               2015-07-09

[50 rows x 32 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           29264 non-null  object
 1   is_canceled                     29264 non-null  int64
 2   lead_time                       29264 non-null  int64
 3   arrival_date_year               29264 non-null  int64
 4   arrival_date_month              29264 non-null  object
 5   arrival_date_week_number        29264 non-null  int64
 6   arrival_date_day_of_month       29264 non-null  int64
 7   stays_in_weekend_nights         29264 non-null  int64
 8   stays_in_week_nights            29264 non-null  int64
 9   adults                          29264 non-null  int64
 10  children                        29264 non-null  int64
 11  babies                          29264 non-null  int64
 12  meal                            29264 non-null  object
 13  country                         28803 non-null  object
 14  market_segment                  29264 non-null  object
 15  distribution_channel            29264 non-null  object
 16  is_repeated_guest               29264 non-null  int64
 17  previous_cancellations          29264 non-null  int64
 18  previous_bookings_not_canceled  29264 non-null  int64
 19  reserved_room_type              29264 non-null  object
 20  assigned_room_type              29264 non-null  object
 21  booking_changes                 29264 non-null  int64
 22  deposit_type                    29264 non-null  object
 23  agent                           23221 non-null  float64
 24  company                         2351 non-null   float64
 25  days_in_waiting_list            29264 non-null  int64
 26  customer_type                   29264 non-null  object
 27  adr                             29264 non-null  float64
 28  required_car_parking_spaces     29264 non-null  int64
 29  total_of_special_requests       29264 non-null  int64
 30  reservation_status              29264 non-null  object
 31  reservation_status_date         29264 non-null  object
dtypes: float64(3), int64(17), object(12)
memory usage: 7.1+ MB

In [ ]:
df.isnull().sum().sort_values(ascending=False)

company                           26913
agent                              6043
country                             461
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
is_canceled                           0
market_segment                        0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
reservation_status_date               0
distribution_channel                  0
reservation_status                    0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
hotel                                 0
dtype: int64

In [ ]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

#Replacing the NA values

In [ ]:
df[["company","agent"]] = df[["company","agent"]].fillna(0.0)

In [ ]:
df["country"].fillna(df.country.mode().to_string(),inplace=True)

In [ ]:
df["children"]=df["children"].fillna(0.0)

In [ ]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [ ]:
df = df.drop(df[(df.adults+df.babies+df.children)==0].index)

In [ ]:
df[['children', 'company', 'agent']] = df[['children', 'company', 'agent']].astype("int64")

#Removing outliers

In [ ]:
#lets create a different column to check for total staying nights 
df["total_staying_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
df = df[df["total_staying_nights"]>=1]
df=df.reset_index(drop=True)

In [ ]:
df = df[df["adr"]>0].copy()

In [ ]:
df.head()

          hotel  is_canceled  ...  reservation_status_date  total_staying_nights
0  Resort Hotel            0  ...               2015-07-02                     1
1  Resort Hotel            0  ...               2015-07-02                     1
2  Resort Hotel            0  ...               2015-07-03                     2
3  Resort Hotel            0  ...               2015-07-03                     2
4  Resort Hotel            0  ...               2015-07-03                     2

[5 rows x 33 columns]